.peta {
  display: flex;
  gap: 5px;
  justify-items: center;
  height: 1300px;
  width: 1200px;
  border: 2px solid blue;
}
.leaflet-container {
  height: 1300px;
  width: 100%;
  border: 2px solid rgb(235, 235, 0);
}
.peta .petaket {
  background-color: #f2efe9;
  height: 700px;
  width: 400px;
  text-align: left;
  color: black;
}

@media (max-width: 600px) {
  .peta {
    display: grid;
    gap: 50px;
    justify-items: center;
    height: 800px;
    width: 310px;
    border: 5px solid blue;
  }
  .peta .petaket {
    background-color: yellow;
    height: 100%;
    width: 100%;
  }
  .leaflet-container {
    height: 400px;
    width: 100%;
    border: 2px solid rgb(235, 235, 0);
  }
}
